n8n/workflows/blog-article-generator.json
{
  "name": "Dousel — Générateur Articles Blog (Actu + Manuel)",
  "nodes": [
    {
      "parameters": {
        "path": "1207b12e-7946-465d-ab69-5e6a156d0dd3",
        "formTitle": "Dousel — Générer un Article",
        "formDescription": "Remplissez ce formulaire pour lancer la génération automatique d'un article.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Actualité Chaude (Mode Auto)",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            },
            {
              "fieldLabel": "sujet",
              "placeholder": "Laissez vide si Mode Auto activé"
            },
            {
              "fieldLabel": "categorie",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Guides" },
                  { "option": "Investissement" },
                  { "option": "Juridique" },
                  { "option": "Marché" },
                  { "option": "Conseils" },
                  { "option": "Innovation" },
                  { "option": "Diaspora" },
                  { "option": "Analyse" }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "angle",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Guide pratique" },
                  { "option": "Analyse de marché" },
                  { "option": "Comparatif" },
                  { "option": "Réglementation juridique" },
                  { "option": "Conseils diaspora" }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "public_cible",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Propriétaire" },
                  { "option": "Investisseur/Diaspora" },
                  { "option": "Locataire" },
                  { "option": "Agent immobilier" }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "longueur",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Standard 1200 mots" },
                  { "option": "Court 800 mots" },
                  { "option": "Long 2000 mots" }
                ]
              }
            },
            {
              "fieldLabel": "email_notif",
              "fieldType": "email",
              "placeholder": "votre@email.com",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "bd550138",
      "name": "📝 Formulaire1",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "1207b12e-7946-465d-ab69-5e6a156d0dd3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json['Actualité Chaude (Mode Auto)'] }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "0576138e",
      "name": "🔀 Mode Auto ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=immobilier+senegal+OR+dakar+logement&hl=fr&gl=SN&ceid=SN:fr",
        "options": {}
      },
      "id": "ec062540",
      "name": "📰 RSS Google",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [440, 160]
    },
    {
      "parameters": {
        "operation": "summarize",
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "={{ $json.title }}",
              "separateBy": " "
            }
          ]
        },
        "options": {}
      },
      "id": "9581dab0",
      "name": "📦 Grouper Actus",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [660, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'meta-llama/llama-3.3-70b-instruct', messages: [{ role: 'system', content: 'Tu es rédacteur en chef. Lis ces actus, choisis la plus importante pour l immobilier au Sénégal, et réponds UNIQUEMENT par le sujet de l article formulé en une phrase. Aucun autre texte.' }, { role: 'user', content: JSON.stringify($json) }] }) }}",
        "options": {}
      },
      "id": "bb7c91fd",
      "name": "🧠 LLM Choix Actu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [880, 160]
    },
    {
      "parameters": {
        "jsCode": "const form = $('📝 Formulaire1').first().json;\nconst inputData = $input.first().json;\n\nlet topic = form.sujet || 'Immobilier Sénégal';\nif (inputData.choices && inputData.choices.length > 0) {\n  topic = inputData.choices[0].message.content.replace(/[\"']/g, '').trim();\n}\n\nconst wordTarget = (form.longueur||'').includes('800') ? 800 : (form.longueur||'').includes('2000') ? 2000 : 1200;\nreturn [{ json: {\n  topic,\n  category: form.categorie || 'Actualité',\n  angle: form.angle || '',\n  audience: form.public_cible || '',\n  wordTarget,\n  email: form.email_notif || '',\n  query1: topic + ' Sénégal immobilier 2024 2025',\n  query2: topic + ' loi OHADA réglementation juridique Sénégal',\n  query3: topic + ' investissement Dakar statistiques prix marché',\n  sessionId: Date.now().toString()\n}}];"
      },
      "id": "29463ac4",
      "name": "⚙️ Config1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({api_key:'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',query:$('⚙️ Config1').first().json.query1,search_depth:'advanced',max_results:5,include_answer:true,include_domains:['worldbank.org','bceao.int','apix.sn','ohada.com','agenceecofin.com','rfafrica.com','lesoleil.sn']}) }}",
        "options": {}
      },
      "id": "a0857460",
      "name": "🔍 Tavily ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1320, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({api_key:'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',query:$('⚙️ Config1').first().json.query2,search_depth:'advanced',max_results:5,include_answer:true}) }}",
        "options": {}
      },
      "id": "3c778dee",
      "name": "🔍 Tavily 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({api_key:'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',query:$('⚙️ Config1').first().json.query3,search_depth:'advanced',max_results:5,include_answer:true}) }}",
        "options": {}
      },
      "id": "b548546a",
      "name": "🔍 Tavily 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1320, 440]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "d97e820f",
      "name": "🔀 Fusionner1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "jsCode": "const allResults = $input.all().flatMap(item => item.json.results || []);\nconst seen = new Set();\nconst unique = allResults.filter(r => { if (!r.url || seen.has(r.url)) return false; seen.add(r.url); return true; });\nconst authoritative = ['worldbank.org','bceao.int','apix.sn','ohada.com','un.org','afdb.org'];\nconst scored = unique.map(r => {\n  let s = 50;\n  if (authoritative.some(d => (r.url||'').includes(d))) s += 30;\n  if (/\\d+[\\s]*(\\%|FCFA|XOF|milliard|million)/i.test(r.content||r.snippet||'')) s += 15;\n  const age = (Date.now() - new Date(r.published_date||Date.now()).getTime()) / (30*24*3600*1000);\n  if (age > 24) s -= 60; else if (age < 6) s += 20; else if (age < 12) s += 10;\n  s += ((r.score||0)*10);\n  return {...r, _score: Math.round(s), _age: Math.round(age)};\n});\nconst valid = scored.filter(s => s._age <= 24).sort((a,b) => b._score - a._score).slice(0,8);\nconst cfg = $('⚙️ Config1').first().json;\nreturn [{ json: {\n  ...cfg,\n  sourcesForPrompt: valid.map(s => ({\n    title: s.title||'Sans titre',\n    url: s.url||'',\n    author: s.author||'Non précisé',\n    date: s.published_date||'Date inconnue',\n    excerpt: (s.content||s.raw_content||s.snippet||'').slice(0,600)\n  })),\n  validSourceCount: valid.length,\n  hasMinimumSources: valid.length >= 2\n}}];"
      },
      "id": "48c43fa2",
      "name": "📊 Traitement Sources1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.hasMinimumSources }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "631ff34c",
      "name": "✅ Vérif. Sources1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst sources = d.sourcesForPrompt || [];\nconst sourcesText = sources.map((s, i) => `[Source ${i+1}] ${s.title}\\nURL: ${s.url}\\nExtrait: ${s.excerpt}`).join('\\n\\n');\n\nconst systemPrompt = `Tu es un journaliste d'investigation senior spécialisé dans l'immobilier africain, notamment sénégalais. Tu rédiges pour Dousel Immo des analyses de fond qui prennent position claire, argumentent avec des données et challengent les idées reçues. Tes articles défendent une thèse — ils ne listent pas des informations.\n\nPHILOSOPHIE RÉDACTIONNELLE :\n- Chaque H2 = un ARGUMENT formulé comme une assertion affirmée (pas juste un sujet)\n  Mauvais : \\\"Le marché immobilier à Dakar\\\"\n  Bon : \\\"Pourquoi le marché dakarois est structurellement biaisé contre les locataires\\\"\n- Chaque chiffre ancré à sa source inline : [Titre source](url)\n- Chaque section développe : thèse → preuves chiffrées → analyse → implication\n- Le lecteur repart avec une conviction, pas juste des informations\n\nSTRUCTURE OBLIGATOIRE (${d.wordTarget || 1200} mots) :\n\n1. INTRODUCTION (150-200 mots) :\n   - Accroche forte : chiffre choc, contradiction, ou question provocatrice\n   - Contextualisation + annonce de la thèse centrale\n\n2. CORPS : 3 à 5 sections argumentatives (200-300 mots chacune) :\n   - H2 formulé comme un argument affirmé\n   - Paragraphes avec citations [texte source](url) dans le fil\n   - H3 pour sous-points si nécessaire\n\n3. BLOCS DE RICHESSE OBLIGATOIRES :\n   a) 1 tableau comparatif (type table) : données chiffrées par zone/type/période\n   b) 1 citation d'expert (type quote) avec auteur réel issu des sources\n   c) 2 encadrés minimum (type callout) avec items sourcés\n   d) 1 liste ordonnée (type list, ordered:true) : étapes ou recommandations\n\n4. CONCLUSION (100-150 mots) + CTA vers /biens\n\nTYPES DE BLOCS DISPONIBLES :\n{\\\"type\\\":\\\"paragraph\\\",\\\"text\\\":\\\"Texte avec [lien source](url) intégré naturellement\\\"}\n{\\\"type\\\":\\\"heading\\\",\\\"level\\\":2,\\\"text\\\":\\\"H2 = argument affirmé\\\"}\n{\\\"type\\\":\\\"heading\\\",\\\"level\\\":3,\\\"text\\\":\\\"H3 précision\\\"}\n{\\\"type\\\":\\\"quote\\\",\\\"text\\\":\\\"Citation marquante\\\",\\\"author\\\":\\\"Prénom Nom, Titre\\\"}\n{\\\"type\\\":\\\"callout\\\",\\\"title\\\":\\\"📌 Ce que révèlent ces chiffres\\\",\\\"items\\\":[\\\"Fait 1 [source](url)\\\",\\\"Fait 2 chiffré\\\",\\\"Implication pratique\\\"]}\n{\\\"type\\\":\\\"table\\\",\\\"headers\\\":[\\\"Critère\\\",\\\"Valeur A\\\",\\\"Valeur B\\\"],\\\"rows\\\":[[\\\"Ligne\\\",\\\"v1\\\",\\\"v2\\\"]]}\n{\\\"type\\\":\\\"list\\\",\\\"ordered\\\":true,\\\"items\\\":[\\\"1. Action concrète\\\",\\\"2. Action concrète\\\",\\\"3. Action concrète\\\"]}\n{\\\"type\\\":\\\"cta\\\",\\\"text\\\":\\\"Consulter les offres\\\",\\\"href\\\":\\\"/biens\\\",\\\"style\\\":\\\"primary\\\"}\n\nPUBLIC CIBLE : ${d.audience || 'Grand public immobilier'}\nANGLE : ${d.angle || 'Analyse critique'}\n\nFORMAT DE RÉPONSE (JSON valide uniquement, aucun texte autour) :\n{\n  \\\"title\\\": \\\"Titre journalistique qui annonce une position (60-70 car.)\\\",\n  \\\"excerpt\\\": \\\"Chapeau 150-160 car résumant la thèse centrale\\\",\n  \\\"meta_title\\\": \\\"Titre SEO 55-60 car\\\",\n  \\\"meta_description\\\": \\\"Description SEO 150-160 car\\\",\n  \\\"author_name\\\": \\\"Équipe éditoriale Dousel\\\",\n  \\\"read_time_estimate\\\": 6,\n  \\\"confidence_score\\\": 72,\n  \\\"sources_used\\\": [{\\\"title\\\": \\\"...\\\", \\\"url\\\": \\\"...\\\"}],\n  \\\"blocks\\\": [\n    MINIMUM 15 BLOCS : 1 table + 1 quote + 2 callouts + 1 list ordonnée\n  ]\n}`;\n\nconst userPrompt = `Rédige un article de fond argumentatif sur ce sujet pour Dousel Immo :\n\nSujet : ${d.topic}\nCatégorie : ${d.category}\nAngle éditorial : ${d.angle}\nPublic cible : ${d.audience}\nLongueur cible : ${d.wordTarget} mots\n\nSOURCES DISPONIBLES (analyse, croise et cite) :\n${sourcesText}\n\nCHECKLIST :\n✓ L'article défend-il une thèse claire et affirmée ?\n✓ Chaque H2 est-il un argument (pas juste un sujet) ?\n✓ Y a-t-il au moins 15 blocs ?\n✓ Y a-t-il 1 tableau, 1 citation, 2 callouts, 1 liste ordonnée ?\n✓ Les sources sont-elles citées avec [texte](url) dans les paragraphes ?\n\nRéponds UNIQUEMENT avec le JSON valide.`;\n\nreturn [{ json: {\n  ...d,\n  _llmPayload: {\n    model: 'anthropic/claude-3.5-sonnet',\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userPrompt }\n    ],\n    temperature: 0.8,\n    max_tokens: 8000\n  }\n}}];"
      },
      "id": "aaa91844",
      "name": "📝 Build Prompt1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._llmPayload }}",
        "options": {}
      },
      "id": "900c5bbb",
      "name": "🤖 Claude API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2420, 220]
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nconst cfg = $('📝 Build Prompt1').first().json;\n\nlet rawContent = '';\ntry {\n  rawContent = inputData.choices[0].message.content;\n} catch(e) {\n  rawContent = JSON.stringify(inputData);\n}\n\nlet article = {};\ntry {\n  const jsonMatch = rawContent.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    article = JSON.parse(jsonMatch[0]);\n  }\n} catch(e) {\n  article = { title: 'Article généré', excerpt: '', blocks: [], tags: [], sources: [], seo: {} };\n}\n\nconst slug = (article.slug || article.title || 'article-' + Date.now())\n  .toLowerCase()\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-+|-+$/g, '');\n\nconst supabasePayload = {\n  title: article.title || '',\n  slug: slug,\n  excerpt: article.excerpt || '',\n  category: cfg.category || article.category || 'Actualité',\n  tags: article.tags || [],\n  blocks: article.blocks || [],\n  sources: article.sources || [],\n  cover_image: null,\n  status: 'draft',\n  created_at: new Date().toISOString(),\n  word_count: cfg.wordTarget || 1200\n};\n\nreturn [{ json: {\n  supabasePayload,\n  sourcesUsed: cfg.sourcesForPrompt || [],\n  confidenceScore: 50,\n  email: cfg.email || '',\n  _config: cfg\n}}];"
      },
      "id": "240c91d4",
      "name": "🔧 Parser Réponse1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 220]
    },
    {
      "parameters": {
        "jsCode": "const parserOutput = $('🔧 Parser Réponse1').first().json;\nconst article = parserOutput.supabasePayload || {};\nconst topic = (article.title || '').toLowerCase();\n\nconst keywords = [\n  topic.split(' ').filter(w => w.length > 4).slice(0, 2).join(' '),\n  'immobilier Sénégal',\n  'Dakar'\n].filter(Boolean);\n\nconst pexelsQuery = keywords[0] || 'immobilier Dakar Senegal';\n\nreturn [{ json: {\n  pexelsQuery: pexelsQuery,\n  _parserData: parserOutput\n}}];"
      },
      "id": "41fb955e",
      "name": "Build Pexel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, 220]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.pexels.com/v1/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "YOUR_PEXELS_API_KEY"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.pexelsQuery }}"
            },
            {
              "name": "per_page",
              "value": "5"
            },
            {
              "name": "orientation",
              "value": "landscape"
            }
          ]
        },
        "options": {}
      },
      "id": "5ad2c6ac",
      "name": "Build Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3080, 220]
    },
    {
      "parameters": {
        "jsCode": "var parserOutput = $('🔧 Parser Réponse1').first().json;\nvar article = parserOutput.supabasePayload || {};\nvar config   = parserOutput._config || {};\nvar photos = $input.first().json.photos || [];\nvar coverUrl = photos.length > 0 && photos[0].src ? (photos[0].src.large2x || photos[0].src.large) : null;\nvar galleryItems = photos.slice(1, 4).map(function(p) {\n  return { cloudinaryId: p.src ? (p.src.large || p.src.medium) : '', alt: p.alt || '', caption: p.photographer ? ('Crédit : ' + p.photographer) : '' };\n});\nvar finalBlocks = (article.blocks || []).slice();\nif (galleryItems.length > 0) {\n  finalBlocks.splice(Math.min(3, finalBlocks.length), 0, { id: 'gallery-pexels-' + Date.now(), type: 'gallery', images: galleryItems });\n}\nvar supabasePayload = Object.assign({}, article, { cover_image: coverUrl, blocks: finalBlocks });\nreturn [{ json: { supabasePayload: supabasePayload, sourcesUsed: parserOutput.sourcesUsed || [], confidenceScore: parserOutput.confidenceScore || 50, email: config.email || '', _config: config } }];"
      },
      "id": "fc82de79",
      "name": "📸 Build Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3300, 220]
    },
    {
      "parameters": {
        "jsCode": "var d=$input.first().json;\nvar p=d.supabasePayload||{};\nvar s=d.confidenceScore||50;\nvar issues=[];\nif(!p.title||p.title.length<10){s-=25;issues.push('Titre manquant');}\nif(!p.excerpt){s-=10;issues.push('Excerpt manquant');}\nif(!p.blocks||p.blocks.length<3){s-=20;issues.push('Contenu insuffisant');}\nif(!p.cover_image){s-=5;issues.push('Image manquante');}\ns=Math.max(0,Math.min(100,s));\nvar ok=s>=55&&!!p.title&&(p.blocks||[]).length>=3;\nreturn[{json:Object.assign({},d,{qualityScore:s,qualityApproved:ok,qualityIssues:issues})}];"
      },
      "id": "30fedd07",
      "name": "🏆 Score Qualité1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3520, 220]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.qualityApproved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1becb025",
      "name": "🎯 Quality Gate1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3740, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/blog_articles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.supabasePayload }}",
        "options": {}
      },
      "id": "1a17c72a",
      "name": "💾 Supabase Insert1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3960, 140]
    },
    {
      "parameters": {
        "fromEmail": "noreply@dousel.sn",
        "toEmail": "={{ $('📸 Build Images').first().json.email || $('⚙️ Config1').first().json.email }}",
        "subject": "✅ Article publié : {{ $('🏆 Score Qualité1').first().json.supabasePayload.title }}",
        "emailType": "html",
        "message": "<h2>Article généré avec succès !</h2><p><strong>Titre :</strong> {{ $('🏆 Score Qualité1').first().json.supabasePayload.title }}</p><p><strong>Score qualité :</strong> {{ $('🏆 Score Qualité1').first().json.qualityScore }}/100</p><p><strong>Catégorie :</strong> {{ $('🏆 Score Qualité1').first().json.supabasePayload.category }}</p><p>L'article a été inséré dans Supabase avec le statut <em>draft</em>. Vous pouvez le relire et le publier depuis le tableau de bord.</p>",
        "options": {}
      },
      "id": "835747f8",
      "name": "📧 Email Succès1",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [4180, 140]
    },
    {
      "parameters": {
        "fromEmail": "noreply@dousel.sn",
        "toEmail": "={{ $('📸 Build Images').first().json.email || $('⚙️ Config1').first().json.email }}",
        "subject": "❌ Article rejeté — Score insuffisant",
        "emailType": "html",
        "message": "<h2>Article rejeté par le Quality Gate</h2><p><strong>Titre généré :</strong> {{ $json.supabasePayload.title || 'Non disponible' }}</p><p><strong>Score qualité :</strong> {{ $json.qualityScore }}/100 (minimum requis : 55)</p><p><strong>Problèmes détectés :</strong></p><ul>{{ $json.qualityIssues.map(i => '<li>' + i + '</li>').join('') }}</ul><p>Veuillez relancer la génération avec un sujet plus précis ou vérifier les sources disponibles.</p>",
        "options": {}
      },
      "id": "25249429",
      "name": "📧 Email Rejeté1",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [3960, 320]
    },
    {
      "parameters": {
        "fromEmail": "noreply@dousel.sn",
        "toEmail": "={{ $json.email || $('⚙️ Config1').first().json.email }}",
        "subject": "⚠️ Pas de sources disponibles — Article non généré",
        "emailType": "html",
        "message": "<h2>Sources insuffisantes</h2><p>Le moteur de recherche n'a pas trouvé assez de sources fiables et récentes pour générer un article sur le sujet demandé.</p><p><strong>Sujet :</strong> {{ $json.topic }}</p><p><strong>Sources trouvées :</strong> {{ $json.validSourceCount }} (minimum requis : 2)</p><p>Suggestions :</p><ul><li>Reformulez le sujet avec des termes plus généraux</li><li>Essayez en mode manuel avec un sujet différent</li><li>Réessayez dans quelques jours lorsque de nouvelles sources seront disponibles</li></ul>",
        "options": {}
      },
      "id": "86c7d6dc",
      "name": "📧 Email Pas de Sources1",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2200, 400]
    }
  ],
  "connections": {
    "📝 Formulaire1": {
      "main": [
        [
          {
            "node": "🔀 Mode Auto ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Mode Auto ?": {
      "main": [
        [
          {
            "node": "📰 RSS Google",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚙️ Config1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📰 RSS Google": {
      "main": [
        [
          {
            "node": "📦 Grouper Actus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Grouper Actus": {
      "main": [
        [
          {
            "node": "🧠 LLM Choix Actu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 LLM Choix Actu": {
      "main": [
        [
          {
            "node": "⚙️ Config1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Config1": {
      "main": [
        [
          {
            "node": "🔍 Tavily ",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔍 Tavily 4",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔍 Tavily 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Tavily ": {
      "main": [
        [
          {
            "node": "🔀 Fusionner1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Tavily 4": {
      "main": [
        [
          {
            "node": "🔀 Fusionner1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🔍 Tavily 5": {
      "main": [
        [
          {
            "node": "🔀 Fusionner1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "🔀 Fusionner1": {
      "main": [
        [
          {
            "node": "📊 Traitement Sources1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Traitement Sources1": {
      "main": [
        [
          {
            "node": "✅ Vérif. Sources1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Vérif. Sources1": {
      "main": [
        [
          {
            "node": "📝 Build Prompt1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📧 Email Pas de Sources1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Build Prompt1": {
      "main": [
        [
          {
            "node": "🤖 Claude API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Claude API1": {
      "main": [
        [
          {
            "node": "🔧 Parser Réponse1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Parser Réponse1": {
      "main": [
        [
          {
            "node": "Build Pexel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pexel": {
      "main": [
        [
          {
            "node": "Build Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Image": {
      "main": [
        [
          {
            "node": "📸 Build Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📸 Build Images": {
      "main": [
        [
          {
            "node": "🏆 Score Qualité1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏆 Score Qualité1": {
      "main": [
        [
          {
            "node": "🎯 Quality Gate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Quality Gate1": {
      "main": [
        [
          {
            "node": "💾 Supabase Insert1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📧 Email Rejeté1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Supabase Insert1": {
      "main": [
        [
          {
            "node": "📧 Email Succès1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-03T00:00:00.000Z",
  "versionId": "1"
}
